In [3]:
import sqlite3
# Open the books database
conn = sqlite3.connect('books.db')
# Create a cursor
cursor = conn.cursor()
# Execute a query to select all data from the titles table
cursor.execute("SELECT * FROM titles")
# Get the metadata from the description attribute
description = cursor.description
# Get the data from the fetchall method
data = cursor.fetchall()
# Print the results in a tabular format
for row in data:
    print("%-20s%-20s%-20s" % (row[0], row[1], row[2]))

0135404673          Intro to Python for CS and DS1
0132151006          Internet & WWW How to Program5
0134743350          Java How to Program 11
0133976890          C How to Program    8
0133406954          Visual Basic 2012 How to Program6
0134601548          Visual C# How to Program6
0136151574          Visual C++ How to Program2
0134448235          C++ How to Program  10
0134444302          Android How to Program3
0134289366          Android 6 for Programmers3

In [7]:
#17.1 A
# Import the necessary libraries
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Define the query
query = 'SELECT last FROM authors ORDER BY last DESC'

# Execute the query and retrieve the results
results = conn.execute(query)

# Loop through the results and print the last names
for row in results:
  print(row[0])

# Close the connection to the database
conn.close()

Wald
Quirk
Deitel
Deitel
Deitel

In [8]:
#17.1 B
# Import the necessary libraries
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Define the query
query = 'SELECT title FROM titles ORDER BY title ASC'

# Execute the query and retrieve the results
results = conn.execute(query)

# Loop through the results and print the book titles
for row in results:
  print(row[0])

# Close the connection to the database
conn.close()#

Android 6 for Programmers
Android How to Program
C How to Program
C++ How to Program
Internet & WWW How to Program
Intro to Python for CS and DS
Java How to Program
Visual Basic 2012 How to Program
Visual C# How to Program
Visual C++ How to Program

In [35]:
#17.1 C
# Import the necessary libraries
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Define the query
query = '''
SELECT titles.title, titles.copyright, titles.ISBN
FROM titles
INNER JOIN authors
ON titles.ISBN = author_title.ISBN
INNER JOIN authors
ON authors.author_id = author_title.author_id
WHERE last = 'last'
ORDER BY titles.title ASC
'''

# Replace 'Authors Last' with the desired author's last name
query = query.replace('Wald', 'last' )

# Execute the query and retrieve the results
results = conn.execute(query)

# Loop through the results and print the book information
for row in results:
  print(f'Title: {row[0]}')
  print(f'Copyright Year: {row[1]}')
  print(f'ISBN: {row[2]}')

# Close the connection to the database
conn.close()




#OperationalError: ambiguous column name: last

OperationalError: ambiguous column name: last

In [20]:
#17.1 D
# Import the necessary libraries
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Define the query
query = '''
INSERT INTO authors
VALUES (NULL, 'first', 'last')
'''

# Replace 'First_Name' and 'Last_Name' with the new author's first and last name
query = query.replace('first', 'John')
query = query.replace('last', 'Doe')

# Execute the query
conn.execute(query)

# Save the changes to the database
conn.commit()

# Close the connection to the database
conn.close()

In [41]:
#17.1 E
# Import the necessary libraries
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Define the query
query = '''
INSERT INTO author_ISBN (id,isbn)
VALUES (NULL, (SELECT author_isbn FROM authors WHERE last = 'Authors_last'), (SELECT ISBN FROM titles WHERE title = 'Title'))
'''

# Replace 'Author_Last' and 'Title' with the appropriate values
query = query.replace('Authors_Last', 'Smith')
query = query.replace('Title', 'The Great Gatsby')

# Execute the query
conn.execute(query)

# Save the changes to the database
conn.commit()

# Close the connection to the database
conn.close()



#OperationalError: no such column: author_isbn

OperationalError: no such column: author_isbn